// COLORS
@import url("https://use.typekit.net/mgo7wou.css");

$header-font-family: stolzl, sans-serif;
$font-family:source-sans-pro, sans-serif;
// font-family: source-sans-pro, sans-serif;

// font-weight: 400;

// font-style: normal;
// font-family: stolzl, sans-serif;

// font-weight: 500;

// font-style: normal;
$color-primary: #F83D44;
$color-secondary: #e0dfdb;

$color-white: #fff;

$color-black: #1e1e1e;

// FONT SIZES
$default-font-size: 1.6rem;
